/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
!app/storage/public/assets
!app/storage/public/assets/avatar
!app/storage/public/assets/avatar/default_avatar.png

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache


# macOS Files
.DS_Store

# Asset Generated CSS
public/css/global.css

# Asset Generated JS
public/js/global.js

# Vite Build
public/build
public/assets
public/uploads
