*
.DS_Store
!.gitignore

!assets

!assets/avatar
!assets/avatar/*

!assets/fontawesome
!assets/fontawesome/css
!assets/fontawesome/css/*
!assets/fontawesome/webfonts
!assets/fontawesome/webfonts/*

!assets/image
!assets/image/*

!uploads

!uploads/cosplayer
!uploads/cosplayer/avatar
!uploads/cosplayer/cover
